body{
    background: linear-gradient(to right,#3498db,#003566);
    font-family:georgia, serif;
}
h1{
    color: #0B1B2B;
}
.hijo{
    background-color: #DEBC3F;
    margin: 30px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}
.padre{
    color: #0B1B2B;
    display: flex;
}

#logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 10px;
    display: block;
    margin: auto;
}
.hijo2{
    background-color: #DEBC3F;
    margin: 30px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}

.anuncio {
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    background-color: #e5c33d;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.anuncio h2 {
    color: #002b50;
    font-size: 28px;
    margin-bottom: 10px;
}

.anuncio p {
    color: #111;
    font-size: 18px;
}



.anuncio button:hover {
    background-color: #005b8f;
}

.contenido{
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    background-color: #e5c33d;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
