body{
    background: linear-gradient(to right,#3498db,#0D1B2A);
    
}
h1{
    color: #000000;
}
.hijo{
    background-color: #DEBC3F;
    margin: 30px;
    margin-top: 50px;
}
.padre{
     color: #0B1B2B
}