body{
    background: linear-gradient(to right,#3498db);
    font-family:georgia, serif;
}
h1{
    color: #0B1B2B;
}
.hijo{
    background-color: #DEBC3F;
    margin: 30px;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
}
.padre{
    color: #0B1B2B;
}

#logo{
    width: 300px;
    hight: 300px;
    boder-radius: 50%;
    txt-aling: center;
}